<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Web Guesser</title>
    <link rel="stylesheet" href="lib/views/main.css">
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
     Your guess is <%= guess %>
    </p>
    <p>
    <%= message %>
    </p>
  </body>
</html>
